---
interface Props {
}

---
<footer class="amy-footer">
	<p>Ceci n'est pas une footer</p>
</footer>
<style>
        .amy-footer {
                text-align: center;
                position: fixed;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 0%);
                margin: auto;
                background: red;
                width: 100%;
                max-width: 800px;
                border: auto;
	}
</style>
