---
interface Props {
}

---
<footer class="amy-footer">
	<p>Ceci n'est pas une footer</p>
</footer>
<style>
        .amy-footer {
                text-align: center;
                position: sticky;
                top: 0;
                background: red;
                height: 2rem;
                border: auto;
                margin: auto;
                background: red;
	}
</style>
