---
interface Props {
}

---
<header class="amy-header">
    <ul>
        <li><a href='/'>Main Page</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/contact'>Contact</a></li>
        <li><a href='/ramblings'>Ramblings</a></li>
        <li><a href='/albums'>Albums</a></li>
    </ul>
</header>
<style>
	.amy-header {
        position: sticky;
        top: 0;
        background: red;
        min-height: 2rem;
        overflow: auto;
	}

    .amy-header > ul {
        list-style-type: none; /* Remove bullets */
    }

    .amy-header > ul > li {
        float: left;
        
    }

    .amy-header > ul > li > a {
        color: white;
        text-align: center;
        padding: 0 16px;
        text-decoration: none;
    }
</style>
